img {
  width: 250px;
  border-radius: 100px;
}
body {
  background-color: #87c0cd;
}
hr {
  text-decoration: none;
  width: 100px;
  border: none;
  border-top: 1px dotted white;
  border-width: 8px;
  border-color: #f3dcad;
}
